\documentclass[12pt,addpoints]{exam}

\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
% better main font
\usepackage{palatino}
% better monospace font
\usepackage{zi4}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{tikz}
\usetikzlibrary{positioning}
\usetikzlibrary{shapes.geometric}
\usepackage{standalone}
\usepackage{booktabs}
\usepackage{wasysym}
\usepackage{xspace}
\usepackage{siunitx}
\usepackage{url}
\usepackage{listings}
\lstdefinelanguage{Go}{
  morekeywords=[1]{break,default,func,interface,select,case,defer,go,map,
    struct,chan,else,goto,package,switch,const,fallthrough,if,range,
    return,type,continue,for,import,var},
  sensitive=true,
  morecomment=[l]{//},
  morecomment=[s]{/*}{*/},
  morestring=[b]",
  morestring=[b]`,
}

\lstset{
  basicstyle=\ttfamily,
  columns=flexible
}

\usepackage{newunicodechar}
\newunicodechar{≈}{\ensuremath{\approx}}
\newunicodechar{−}{\ensuremath{-}}

% suggested by Claude:
\newunicodechar{≤}{\ensuremath{\leq}}
\newunicodechar{≥}{\ensuremath{\geq}}
\newunicodechar{≠}{\ensuremath{\neq}}
\newunicodechar{×}{\ensuremath{\times}}
\newunicodechar{÷}{\ensuremath{\div}}
\newunicodechar{→}{\ensuremath{\rightarrow}}
\newunicodechar{←}{\ensuremath{\leftarrow}}
\newunicodechar{∞}{\ensuremath{\infty}}
\newunicodechar{μ}{\ensuremath{\mu}}
\newunicodechar{✓}{\checkmark}

\newcommand{\ExamCourse}{<<.CourseCode>>\xspace}
\newcommand{\ExamTitle}{<<.Title>><<if .PrintAnswers>> (Solutions)<<end>>\xspace}
\newcommand{\ExamSemester}{<<.Semester>>\xspace}
\newcommand{\ExamNumQuestions}{\numquestions\xspace}
\newcommand{\ExamPoints}{\numpoints\xspace}

\checkboxchar{$\bigcirc$}
\checkedchar{$\CIRCLE$}

<<- with .Preamble>>
<<.>>
<<- end>>
<<- if .PrintAnswers>>
\printanswers
<<- end>>

\begin{document}

\header{\ExamCourse}{\ExamTitle}{\ExamSemester}
\cfoot{Page \thepage}

\begin{coverpages}
<<.CoverPage ->>
\end{coverpages}

\begin{questions}
<<range .Sections>>
<<if .Name ->>
\section*{<<.Name>>}
<<- end>>

<<range .Items>><<renderItem .>>

<<end>><<end ->>
\end{questions}

\end{document}
