\documentclass[12pt,addpoints]{exam}

\usepackage{palatino}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage{wasysym}
\usepackage{xspace}

\newcommand{\ExamCourse}{<<.CourseCode>>\xspace}
\newcommand{\ExamTitle}{<<.Title>><<if .PrintAnswers>> (Solutions)<<end>>\xspace}
\newcommand{\ExamSemester}{<<.Semester>>\xspace}
\newcommand{\ExamDuration}{<<.Duration>>\xspace}
\newcommand{\ExamNumQuestions}{\numquestions\xspace}
\newcommand{\ExamPoints}{\numpoints\xspace}

\checkboxchar{$\bigcirc$}
\checkedchar{$\CIRCLE$}

<<- with .Preamble>>
<<.>>
<<- end>>
<<- if .PrintAnswers>>
\printanswers
<<- end>>


\begin{document}

\header{\ExamCourse}{\ExamTitle}{\ExamSemester}
\cfoot{Page \thepage}

\begin{coverpages}
<<.CoverPage ->>\end{coverpages}

\begin{questions}
<<range .Sections>>
<<if .Name ->>
\section*{<<.Name>>}
<<- end>>

<<range .Items>><<renderItem .>>

<<end>><<end>>\end{questions}

\end{document}
